<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    SetEnvIf Host "admin.kima$" MODULE=admin

    RewriteCond %{HTTP_HOST} (admin).kima$ [NC]

    RewriteRule ^$ index.php?{%QUERY_STRING}&controller=index&action=index
    RewriteRule ^/?([a-zA-Z-_]+)$ index.php?{%QUERY_STRING}&controller=$1&action=index
    RewriteRule ^/?([a-zA-Z-_]+)/([a-zA-Z-_]+)$ index.php?{%QUERY_STRING}&controller=$1&action=$2

    ErrorDocument 404 /index.php?{%QUERY_STRING}&controller=error&action=index&status_code=404
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php?{%QUERY_STRING}&controller=error&action=index&status_code=404
</IfModule>