<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteRule ^(.*)$ /$1/ [L,R=301]

    SetEnvIf Host "([a-zA-Z-_]+).kima$" MODULE=$1

    RewriteRule ^/?(es|zh)?/?([a-zA-Z-_]+)?/?([a-zA-Z-_]+)?/$ index.php?%{QUERY_STRING}&language=$1&controller=$2&action=$3

    ErrorDocument 404 /index.php?{%QUERY_STRING}&controller=error&action=index&status_code=404
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php?{%QUERY_STRING}&controller=error&action=index&status_code=404
</IfModule>