<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    SetEnv MODULE default

    RewriteCond %{HTTP_HOST} (admin).kima$ [NC]

    RewriteRule ^$ index.php?{%QUERY_STRING}&module=%1&controller=index&action=index
    RewriteRule ^/?([a-zA-Z-_]+)$ index.php?{%QUERY_STRING}&module=%1&controller=$1&action=index
    RewriteRule ^/?([a-zA-Z-_]+)/([a-zA-Z-_]+)$ index.php?{%QUERY_STRING}&module=%1&controller=$1&action=$2
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>